body{

}

div{
text-align: center;
}

button {
    border-radius: 15px;
    background: dodgerblue;
    border-radius: 15px;
    color: black;
    font-weight: light;
    padding: 5px 15px;
}

#button2 {
    border-radius: 15px;
    background: dodgerblue;
    border-radius: 15px;
    color: black;
    font-weight: bolder;
    padding: 5px 15px;
}

.titulo_principal{
    text-align: center;
    font-family: 'Gugi', cursive;

}

.pagina_principal{
    text-align: center;
    font-family: "Arial Black";
}

.imagen_principal{
    width: 20%;
    border-radius: 20px;
}

.columna-elas{
    width: 50%;
    float: left;
}

.columna-inelas{
    width: 50%;
    float: right;
}

.img_select{
    width: 75%;
    border-radius: 10px;
}

canvas {
    //padding: 0;
    //margin: auto;
    //display: block;
    width: 90%;
    height: 90%;
    //position: absolute;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //right: 0;
    border:2px solid dodgerblue;
    border-radius: 10px;
}

.resultado{
    float:left;
}

.column1 {
    background-color:#aaa;
    text-align: left;
    float:left;
    width: 27%;
    padding: 10px;
	overflow: hidden;
}

.column2 {
    background-color:#bbb;
    text-align: left;
    float: right;
    width: 27%;
    padding: 10px;
	overflow: hidden;
}

.column3{
	overflow: hidden;
	height: 100%;
}

/* de aca hasta la etiqueta active estoy probando hacer el menu tipo barra*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: dodgerblue;
}

footer{
    text-align: right;
}